{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Création du personnage</title>
{% endblock %}

{% block content %}
    <div class="ml20p w70 pb20p transparentBg">
        <h1 class="cinzel fs6 color1 ml20p mt20p mb20p">Tableau de bord</h1>
        <div class="ml20p pl20p flex fcolumn wrap">
            <p class="cinzel fs1_8 color1 bold">{{ infosPlayer.GAM_PSEUDO }}</p>
            <p class="cinzel fs1_6 color1">{{ infosPlayer.classe }}</p>
            <p class="cinzel fs1_6 color1">{{ infosPlayer.race }}</p>
            <p class="cinzel fs1_6 color1">Niveau: {{ infosPlayer.GAM_LEVEL }}</p>
        </div>
        
    </div>
{% endblock %}